In [ ]:
# calculate the sum ,difference ,product and quotient of two numbers

In [5]:
a=10
b=5
sum = a+b
diff = a-b
product=a*b
quotient_res=a/b
print("the sum of two numbers",a+b)
print("the diff of two num",a-b)
print("the product of two num",a*b)
print("the quotient_res of two num",a/b)

the sum of two numbers 15
the diff of two num 5
the product of two num 50
the quotient_res of two num 2.0

In [ ]:
# perform various assignment operations on a variable

In [25]:
x=10
x+=5
x-=6
x*=2
x%=8
x**=4
x//=9
print("the values of numbers after assignments:",x)

the values of numbers after assignments: 1

In [28]:
# compare two numbers and print the result
a =190
b = 26
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a<=b)
print(a>=b)

False
True
True
False
False
True

In [32]:
#check conditions using logical operators
a = True
b = False
print(a and b)
print(a or b)
print( not b)

False
True
True

In [37]:
# check the identity of variables
a =[1,2,3]
b = a
c =[1,2,3]
print(a is b)
print(a is  c)
print(a is not c)

True
False
True

In [39]:
# use uniary operators to change the sign of a number.
a=10
b=-a
c=-b
print(c)

10

In [43]:
# perform bitwise operations on any two  operands
a =10
b =4
and_res = a&b
or_res =a|b
xor_res =a^b
print("the result is",and_res)
print("the result is",or_res)
print("the result is ",xor_res)

the result is 0
the result is 14
the result is  14

In [55]:
# use of ternary operator
age=20
status = "adult" if age>=18 else "minor"
print(status)

adult